@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.header {
  padding: 20px 60px 16px 60px;
  border-bottom: 1px solid #d9d9d9;
}
.header .header_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header_nav .header_left {
  display: flex;
  align-items: center;
  gap: 96px;
}
.header .header_nav .header_links {
  display: flex;
  align-items: center;
  gap: 28px;
}
.header .header_nav .header_items a {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #828388;
}
.header .header_nav .header_items a:hover {
  color: #333333;
}
.header .header_nav .header_right {
  display: flex;
  align-items: center;
  gap: 66px;
}
.header .header_nav .header_dropdown {
  width: 100%;
  height: 20px;
  border: none;
  font-size: 14px;
  outline: none;
}
.header .header_nav .header_right_btn {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #cccccc;
  padding: 12px 49px;
  border-radius: 20px;
  background-color: inherit;
}
.header .header_nav .header_right_btn a {
  font-family: Michroma;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #184afb;
}
.header .header_nav .header_right_btn img {
  color: #184afb;
}
.header .header_nav .header_btn_hidden {
  display: none;
}
.header .header_nav .header_links_hidden {
  display: none;
}

@media (max-width: 1330px) {
  .header {
    padding: 20px 60px 16px 60px;
    border-bottom: 1px solid #d9d9d9;
  }
  .header .header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .header_nav .header_left {
    display: flex;
    align-items: center;
    gap: 70px;
  }
  .header .header_nav .header_links {
    display: flex;
    align-items: center;
    gap: 22px;
  }
  .header .header_nav .header_items a {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #828388;
  }
  .header .header_nav .header_items a:hover {
    color: #333333;
  }
  .header .header_nav .header_right {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .header .header_nav .header_dropdown {
    width: 100%;
    height: 20px;
    border: none;
    font-size: 14px;
    outline: none;
  }
  .header .header_nav .header_right_btn {
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px solid #cccccc;
    padding: 12px 49px;
    border-radius: 20px;
    background-color: inherit;
  }
  .header .header_nav .header_right_btn a {
    font-family: Michroma;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #184afb;
  }
  .header .header_nav .header_right_btn img {
    color: #184afb;
  }
  .header .header_btn_hidden {
    display: none;
  }
}
@media (max-width: 1240px) {
  .header {
    padding: 20px 60px 16px 60px;
    border-bottom: 1px solid #d9d9d9;
  }
  .header .header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .header_nav .header_left {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .header .header_nav .header_links {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  .header .header_nav .header_items a {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #828388;
  }
  .header .header_nav .header_items a:hover {
    color: #333333;
  }
  .header .header_nav .header_right {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header .header_nav .header_dropdown {
    width: 100%;
    height: 20px;
    border: none;
    font-size: 14px;
    outline: none;
  }
  .header .header_nav .header_right_btn {
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px solid #cccccc;
    padding: 10px 39px;
    border-radius: 20px;
    background-color: inherit;
  }
  .header .header_nav .header_right_btn a {
    font-family: Michroma;
    font-size: 13px;
    font-weight: 350;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #184afb;
  }
  .header .header_nav .header_right_btn img {
    color: #184afb;
  }
  .header .header_btn_hidden {
    display: none;
  }
}
@media (max-width: 1126px) {
  .header {
    padding: 20px 30px 16px 30px;
    border-bottom: 1px solid #d9d9d9;
  }
  .header .header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .header_nav .header_left {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header .header_nav .header_links {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  .header .header_nav .header_items a {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #828388;
  }
  .header .header_nav .header_items a:hover {
    color: #333333;
  }
  .header .header_nav .header_right {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .header .header_nav .header_dropdown {
    width: 100%;
    height: 20px;
    border: none;
    font-size: 14px;
    outline: none;
  }
  .header .header_nav .header_right_btn {
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px solid #cccccc;
    padding: 10px 39px;
    border-radius: 20px;
    background-color: inherit;
  }
  .header .header_nav .header_right_btn a {
    font-family: Michroma;
    font-size: 13px;
    font-weight: 350;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #184afb;
  }
  .header .header_nav .header_right_btn img {
    color: #184afb;
  }
  .header .header_btn_hidden {
    display: none;
  }
}
@media (max-width: 1050px) {
  .header {
    padding: 20px 20px 16px 20px;
    border-bottom: 1px solid #d9d9d9;
  }
  .header .header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .header_nav .header_left {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header .header_nav .header_links {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .header .header_nav .header_items a {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #828388;
  }
  .header .header_nav .header_items a:hover {
    color: #333333;
  }
  .header .header_nav .header_right {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .header .header_nav .header_dropdown {
    width: 100%;
    height: 20px;
    border: none;
    font-size: 14px;
    outline: none;
  }
  .header .header_nav .header_right_btn {
    display: none;
    align-items: center;
    gap: 16px;
    border: 1px solid #cccccc;
    padding: 10px 39px;
    border-radius: 20px;
    background-color: inherit;
  }
  .header .header_nav .header_right_btn a {
    font-family: Michroma;
    font-size: 13px;
    font-weight: 350;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #184afb;
  }
  .header .header_nav .header_right_btn img {
    color: #184afb;
  }
  .header .header_btn_hidden {
    display: block;
  }
  .header .header_btn_hidden {
    display: block;
  }
}