.imkoniyatlars {
  padding-bottom: 120px;
  border-bottom: 1px solid #CCCCCC;
}

.imkoniyatlars .section_flex {
  padding-top: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.imkoniyatlars .section_flex_text {
  font-family: Michroma;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #56585e;
}

.imkoniyatlars .immoniyatlar_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imkoniyatlars .immoniyatlar_title_text {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #2e3038;
  width: 333px;
}

.imkoniyatlars .imkoniyatlars_wrapper {
  margin-top: 82px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.imkoniyatlars .imkoniyatlars_card {
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 40px 44px;
}

@media (max-width: 1200px) {
  .imkoniyatlars .immoniyatlar_title_text {
      font-size: 36px;
  }
  .imkoniyatlars .imkoniyatlars_wrapper {
      grid-template-columns: auto auto;
  }
}

@media (max-width: 1000px) {
  .imkoniyatlars .immoniyatlar_title_text {
      font-size: 32px;
  }
  .imkoniyatlars .imkoniyatlars_wrapper {
      grid-template-columns: auto auto;
  }
}

@media (max-width: 975px) {
  .imkoniyatlars .immoniyatlar_title_text {
      font-size: 28px;
  }
  .imkoniyatlars .imkoniyatlars_wrapper {
      grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 765px) {
  .imkoniyatlars .immoniyatlar_title_text {
      font-size: 24px;
  }
  .imkoniyatlars .imkoniyatlars_wrapper {
      grid-template-columns: 1fr;
  }
  .imkoniyatlars .imkoniyatlars_card {
      padding: 30px 34px;
  }
}

@media (max-width: 540px) {
  .imkoniyatlars .immoniyatlar_title_text {
      font-size: 22px;
  }
  .imkoniyatlars .imkoniyatlars_wrapper {
      grid-template-columns: 1fr;
      gap: 10px;
  }
  .imkoniyatlars .imkoniyatlars_card {
      padding: 20px 24px;
  }
}

@media (max-width: 450px) {
  .imkoniyatlars .immoniyatlar_title_text {
      font-size: 20px;
  }
  .imkoniyatlars .imkoniyatlars_wrapper {
      grid-template-columns: 1fr;
  }
  .imkoniyatlars .imkoniyatlars_card {
      padding: 15px 20px;
  }
}

@media (max-width: 320px) {
  .imkoniyatlars .immoniyatlar_title_text {
      font-size: 18px;
  }
  .imkoniyatlars .imkoniyatlars_wrapper {
      grid-template-columns: 1fr;
      gap: 5px;
  }
  .imkoniyatlars .imkoniyatlars_card {
      padding: 10px 15px;
  }
}
